.customToast {
  background-color: white !important;
  color: var(--main-color) !important;
  font-weight: 100;
  font-family: 'Lilita One';
  border-radius: 8px !important;
  padding: 12px 16px !important;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
