.solicitacoesContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    font-family: 'Lilita One';
    margin-top: 15vh;
    align-items: center;
}


.solicitacoesContainer h2 {
    color: white;
    text-align: center;
    margin-bottom: 25px;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Barbie';
}


.baloesWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    overflow-y: auto;
    padding: 5vh 0;
    background-color: white;
    border-radius: 4vh;
    width: 40%;
    height: 40vh;
}


.balaoSolicitacao {
    display: flex;
    flex-direction: column;
    background-color: #FBDDED;
    border: solid 1px var(--cor-borda);
    border-radius: 14px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    padding: 18px 20px;
    width: 550px;
    min-height: 60px;
}

.balaoSolicitacao:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.balaoNovoFilme,
.balaoEdicao {
    border-left: 10px solid var(--main-color);
}

.balaoTitulo {
    font-size: 1.2rem;
    color: #d63384;
    margin-bottom: 4px;
}

.balaoUsuario {
    font-size: 1rem;
    color: #333;
    margin-bottom: 4px;
}

.balaoData {
    font-size: 0.9rem;
    color: #777;
}

/* Rodapé fixo ao final */
footer {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 1rem;
}
