.colaborarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 5vh;
}

.colaborarBox {
  background-color: #fff;
  width: 90%;
  max-width: 900px;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colaborarTitle {
  text-align: center;
  color: #e91e63;
  font-family: 'barbie', sans-serif;
  text-shadow: 2px 2px #fff;
  margin-bottom: 30px;
  font-size: 4rem;
}


.colaborarForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

label{
  text-align: left;
}

.inputsWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  gap: 20px;
  width: 100%;
}

.ladoUm, .ladoDois {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.submitWrapper {
  width: 100%;
}

.colaborarBox label {
  color: #e91e63;
  display: block;
  font-family: "Lilita One", sans-serif;
}

.colaborarForm input {
  border-radius: 50px;
  height: 40px;
  padding: 10px 15px;
  border: 2px solid var(--cor-borda);
  font-size: 1rem;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.colaborarForm {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.colaborarForm input:focus{
    background-color: var(--cor-focus);
    outline: none;
}

.colaborarForm textarea:focus{
    outline: none;
}

input::placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.ladoUm, .ladoDois {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

textarea{
  overflow-y: auto;
  resize: none;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid var(--cor-borda);
  font-size: 1rem;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

input:focus::placeholder{
  opacity: 0;
} 

textarea:focus::placeholder{
  opacity: 0;
}

.submitContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.submitButton {
  background-color: #e91e63;
  color: white;
  font-family: 'Lilita One', cursive;
  border: none;
  width: 150px;
  height: 45px;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s;
}

.submitButton:hover {
  background-color: #c2185b;
}

.mensagem {
  margin-top: 15px;
  text-align: center;
  color: #e91e63;
  font-weight: bold;
  font-size: 1rem;
}

