.filtros {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #DF1683;
  padding: 2vh 3vh;
  border-radius: 10vh;
  gap: 3vh;
  width: 100%;
  max-width: 90vw;
}

.filterIcon{
  color: white;
}

.pesquisaTexto{
  display: flex;
  align-items: center;
  gap: 3vh;
  margin-right: 50vh
}

.AutoComplete {
  flex: 1;
  min-width: 25vh;
}

.ano input {
  width: 25vh;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ffffff;
  border-radius: 12px;
  outline: none;
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.ano input::placeholder {
  opacity: 0.8;
  font-family: "Montserrat";
  color: var(--cor-placeholder);
}

/* quando clica */
.ano input:focus {
  border-color: #821e4c;
}


