.filtros {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #D1487F;
  padding: 2vh 3vh;
  border-radius: 5vh;
  gap: 2.5vh;
  width: 60%;
  max-width: 90vw;
}

.AutoComplete {
  flex: 1;
  min-width: 25vh;
}

.ano {
  display: flex;
  align-items: center;
}

.ano input {
  width: 25vh;
  height: 4vh;
  font-size: 18px;
  border-radius: 2vh;
  border: 1px solid #DF1683;
  padding: 0.6vh 1vh;
  color: rgb(82, 82, 82);
}


.genero {
  display: flex;
  align-items: center;
}

.genero select {
  width: 35vh;
  height: 4.5vh;
  border-radius: 2vh;
  border: 1px solid #DF1683;
  padding: 0.6vh 1vh;
  font-size: 18px;
  color: rgb(82, 82, 82);
}