.paginaFilmeAdm {
  display: flex;
  flex-direction: column;
  color: #fff;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

/* TRAILER */
.trailerContainerAdm {
  position: relative;
  width: 95%;
  max-width: 1200px;
  margin: 40px auto;
  aspect-ratio: 16 / 9;
  background: linear-gradient(180deg, #000 0%, #111 100%);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
  border-radius: 5vh;
}

.trailerContainerAdm iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
  object-fit: cover;
}

/* POSTER + SINOPSE */
.posterSinopseAdm {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  padding: 40px 5%;
  flex-wrap: wrap;
}

.posterAdm {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.15);
}

.detalhesAdm {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.detalhesAdm h1 {
  font-size: 3rem;
  font-weight: 100;
  margin-bottom: 15px;
}

.sinopseAdm {
  font-size: 3.5vh;
  font-weight: 600;
  font-family: "Montserrat";
  line-height: 1.6;
  color: #000;
}

/* FICHA TECNICA */
.fichaTecnicaAdm {
  background-color: #fff;
  color: #000;
  font-family: "Montserrat";
  width: 80%;
  padding: 40px 5%;
  margin: 40px auto 5vh auto;
  border-radius: 5vh;
  position: relative;
}

.fichaTituloAdm {
  display: flex;
  align-items: center;
  gap: 2vh;
}

.fichaTituloAdm h2 {
  font-size: 2rem;
  font-weight: 100;
  color: var(--main-color);
  text-shadow: inherit;
}

.clapperboard{
    color: var(--main-color);
}


.infoAdm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 1rem;
  line-height: 1.6;
  text-align: left;
}

.infoAdm p {
  font-size: 3vh;
  margin: 0;
  text-align: left;
}

.infoAdm p {
  font-size: 3vh;
  margin: 0;
}

.botoesAdm {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  justify-content: end;
}

.btnEditarAdm,
.btnExcluirAdm {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Lilita One";
  font-size: 2.6vh;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}


.btnEditarAdm {
  background-color: var(--cor-botao);
  color: #fff;
}

.btnEditarAdm:hover {
  background-color: var(--cor-hover);
}


.btnExcluirAdm {
  background-color: #ff3b3b;
  color: #fff;
}

.btnExcluirAdm:hover {
  background-color: var(--cor-hover);
}


@media (max-width: 768px) {
  .posterSinopseAdm {
    flex-direction: column;
    align-items: center;
  }

  .posterAdm {
    width: 70%;
  }
}
