.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 2rem;
}

.loginBox {
    background-color: #fff;
    width: 450px;
    height: 420px; 
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    padding: 0px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginTitle {
    text-align: center;
    color: #e91e63;
    font-family: 'barbie';
    font-size: 4.5rem;
    text-shadow: inherit;
    margin-bottom: 2rem;
}

.loginBox label {
    color: #e91e63;
    margin-left: 0;
    margin-bottom: 5px;
    display: block;
    font-family: "Lilita One";
    text-align: left;
    width: 100%;
}

.loginBox input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: 2px solid #e91e63;
    font-size: 16px;
    outline: none;
    text-align: left;
    transition: all 0.3s ease;
}

.loginBox input:focus {
    background-color: var(--cor-focus);
    outline: none;
}

.loginBox button {
    width: 100%; 
    background-color: #e91e63;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
    font-family: "Lilita One";
    transition: 0.3s;
    margin-top: 20px;
}

.loginBox button:hover {
    background-color: #c2185b;
}
