body, html {
    margin: 0;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

.cadastroContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 20vh;
}

.cadastroBox {
    background-color: #fff;
    width: 450px;
    height: 420px; 
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadastroTitle {
    text-align: center;
    color: #e91e63;
    font-family: 'barbie';
    font-size: 4rem;
    text-shadow: 2px 2px #fff;
    margin-bottom: 30px;
}

.cadastroBox label {
    color: #e91e63;
    margin-left: 0;
    margin-bottom: 5px;
    display: block;
    text-align: left;
    width: 100%;
}


.login-box button {
    width: 100%; 
    background-color: #e91e63;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;  /* Garante um pequeno espaçamento acima do botão */
}

.login-box button:hover {
    background-color: #c2185b;
}

.register-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #000;
}

.register-text a {
    color: #e91e63;
    font-size: 14px;
    text-decoration: none;
}

.register-text a:hover {
    text-decoration: underline;
}
