.botoesAprovar {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  overflow-y: hidden;
}

.btnAprovar, .btnRecusar {
  width: 160px;
  height: 45px;
  border-radius: 50px;
  font-family: "Lilita One", cursive;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btnAprovar {
  background: #4caf50;
  color: white;
}

.btnAprovar:hover {
  background: #388e3c;
}

.btnRecusar {
  background: #f44336;
  color: white;
}

.btnRecusar:hover {
  background: #c62828;
}
