.perfilContainer {
  max-width: 600px;
  height: 300px;
  margin: 2rem auto;
  margin-top: 20vh;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-family: "Lilita One", sans-serif;
}

.perfilContainer h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--main-color);
  font-family: 'Barbie';
  text-shadow: inherit;
}

.perfilItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
  border-bottom: 1px solid #eee;
  font-size: 1.1rem;
}

.perfilItem span:first-child {
  font-weight: 100;
}

.verSenhaBtn {
  padding: 0.3rem 0.6rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
  background-color: var(--cor-botao);
  font-family: 'Lilita One';
  color: white;
  cursor: pointer;
  transition: background 0.2s;
}

.verSenhaBtn:hover {
  background-color: var(--cor-hover);
}
