@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
  margin: 0;
  background-color: #f9c3dc;
}

@font-face {
  font-family: 'Barbie';
  src: url('../../assets/fontes/Barbie.ttf') format('truetype');
}

/* --- Texto inicial --- */
.textoInicial {
  position: relative;
  z-index: 10;
  top: 25vh;
  color: white;
  text-align: center;
}

h1 {
  font-size: clamp(2.5rem, 8vw, 9rem);
  font-family: 'Barbie';
  text-shadow: 2px 2px 4px #DF1683;
}

h2 {
  font-family: "Lilita One";
  font-size: clamp(1.2rem, 3vw, 3rem);
  text-shadow: 2px 2px 4px #DF1683;
}

p {
  text-align: center;
  margin: 0 auto 6vh;
  font-size: clamp(1rem, 2vw, 2rem);
  width: min(60%, 60ch);
  font-family: "Montserrat";
  line-height: 1.8;
}

.explorar {
  color: white;
  display: inline-block;
  background-color: #EB3A58;
  padding: 1.5rem 2.5rem;
  text-align: center;
  border: transparent 0.25rem solid;
  transition: transform 0.3s ease;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
}
.explorar:hover {
  transform: scale(1.1);
  border: white 0.25rem solid;
}

/* --- Cards --- */
.cards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  top: 35rem;
  justify-content: center;
  text-align: center;
  z-index: 10;
}

.cards article {
  background-color: white;
  padding: 0.8rem;
  border-radius: 1rem;
  width: clamp(35vh, 65vh, 65vh);
  height: clamp(25vh, 45vh, 45vh);
  transition: transform 0.3s ease;
}
.cards article:hover {
  transform: scale(1.08);
}

.cards h3 {
  font-family: "Lilita One";
  color: #DF1683;
  font-size: clamp(1.2rem, 2.5vw, 2rem);
}
.cards p {
  font-size: clamp(1rem, 1.8vw, 1.5rem);
  width: min(100%, 40ch);
}
.icon {
  color: #DF1683;
}

/* --- Destaques --- */
.destaques {
  position: relative;
  text-align: center;
  top: 50vh;
  z-index: 50;
}

.destaques h1{
  position: relative;
  top: 10vh;
  color: white;
  text-shadow: inherit;
}

/* --- Imagens de Fundo --- */
.imagens {
  margin-top: -40vh;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

/* --- Filmes --- */
.filmes {
  margin-top: 100vh;
  text-align: center;
}

#explorar {
  position: relative;
  top: 10vh;
  color: white;
}

.filtros{
  margin-top: 35vh;
  margin-bottom: 15vh;
}


/* --- Animação Scroll --- */
.scroll-reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease-out;
}
.scroll-reveal.show {
  opacity: 1;
  transform: translateY(0);
}


