@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root{
 --main-color: #DF1683;
}

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body, html {
    width: 100%;
    margin: 0;
}


nav{
    display: flex;
    background-color: rgb(255, 255, 255); 
    padding: 2vh;
    gap: 4vh;
    top: 0;
    width: 170vh;
    justify-content: center;
    align-items: center;
    border-radius: 10vh;
    position: fixed;
    z-index: 100;
    margin-top: 2vh;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.445);
}

.logo{ 
    width: 35vh;
    margin-right: 80vh;
}

a{ 
    text-decoration: none;
    color: inherit;
    font-family: "Lilita One";
    font-size: 4vh;
    color: var(--main-color);
    border-radius: 5vh;
    text-align: center;
}

.navBar{
    justify-items: center;
}