.displayFilme {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #fff0f6;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(255, 182, 193, 0.3);
  transition: transform 0.2s ease;
  width: max-content;
  margin-top: 5vh;
}

.poster {
  width: 100px;
  height: 140px;
  border-radius: 10px;
  object-fit: cover;
}

.nomeFilme {
  margin-top: 6px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #e91e63;
  text-align: left;
  width: 100%;
  font-size: 14px;
}
