.DisplayFilmeContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10vh;
  padding: 20px;
  margin-left: 12vh;
  
}

.DisplayFilme {
  width: 30vh;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s;
}

.DisplayFilme:hover {
  transform: scale(1.05);
}

.DisplayFilme img {
  width: 30vh;
  height: 40vh;
  border-radius: 1vh;
  display: block;
}

.nomeFilme {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  width: 30vh;
  margin: 10px 0 5px;
}

.anoFilme {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: left;
  color: #555;
}

/* Responsividade */
@media (max-width: 900px) {
  .DisplayFilmeContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .DisplayFilmeContainer {
    grid-template-columns: 1fr;
  }
}
