@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
  margin: 0;
  background-color: #f9c3dc;
}

@font-face {
  font-family: 'Barbie';
  src: url('../../assets/fontes/Barbie.ttf') format('truetype');
}

.gerenciarFilmes {
    margin-top: 35vh;
}

.gerenciarFilmes h1{
    position: relative;
    top: 8vh;
    text-align: center;
    color: white;
}

h2 {
  font-family: "Lilita One";
  font-size: clamp(1.2rem, 3vw, 3rem);
  text-shadow: 2px 2px 4px #DF1683;
}

p {
  text-align: center;
  margin: 0 auto 6vh;
  font-size: clamp(1rem, 2vw, 2rem);
  width: min(60%, 60ch);
  font-family: "Montserrat";
  line-height: 1.8;
}


/* --- Filmes --- */
.filmes {
  margin-top: 100vh;
  text-align: center;
}

#explorar {
  position: relative;
  top: 10vh;
  color: white;
}

.filtros{
  margin-top: 35vh;
  margin-bottom: 15vh;
}


/* --- Animação Scroll --- */
.scroll-reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease-out;
}
.scroll-reveal.show {
  opacity: 1;
  transform: translateY(0);
}


